body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 2px;

  background-color: #ee3643;
  border: none;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  margin: 0;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.main-header-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
  width: 111;
  height: 47px;
  margin-bottom: -5px;
  padding-left: 55px;
  padding-right: 54px;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.main-header-logo:focus {
  background-color: #ee3643;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.bookmarks-active,
.basket,
.checkout {
	color: #ffffff;
}

.basket {
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
  padding-right: 31px;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket:hover::before {
  opacity: 1;
}

.basket:active::before {
  opacity: 0.5;
}

.basket:focus::before {
  opacity: 0.3;
}

.bookmarks-active {
  padding-left: 44px;
  padding-right: 28px;
  position: relative;
  text-align: center;
  align-items: center;
}

.bookmarks-active::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-active:hover::before {
  opacity: 1;
}

.bookmarks-active:active::before {
  opacity: 0.5;
}

.bookmarks-active:focus::before {
  opacity: 0.3;
}

.form-search input::placeholder {
  color: #ffffff;
}

.form-search input {
	font: inherit;
  background-color: #293449;
  border: 0;
  outline: 0;
  text-align: left;
  padding-left: 50px;
  width: 100%
}

.icon-search {
  height: 100%;
}

.form-search {
  position: relative;
  flex-grow: 1;
}

input:not(:focus):hover + .icon {
  fill: #ffffff;
  opacity: 1;
}

input:focus + .icon {
  fill: #ee3643;
  opacity: 1;
}

.icon-search:hover {
  background-color: #212a3a;
  border: 0;
  outline: 0;
}

.icon-search:focus {
  background-color: #ffffff;
  border: 0;
  outline: 0;
}

.icon {
  fill: #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 15px;
}

.bookmarks-active:hover,
.basket:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.bookmarks-active:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmarks-active:focus,
.basket:focus {
  color: #ffffff;
  background-color: #293449;
}

.checkout:hover {
	color: #ffffff;
  background-color: #5fbb2d;
}

.checkout:active {
	color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.checkout:focus {
	color: #cbe1bf;
  background-color: #63a63e;
}

.main-header-container {
  margin: 0;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	color: #ffffff;

  width: 100%;

}

.container-logo {
  display: flex;
}


.container-logo a {
  display: flex;
  justify-content: center;
  line-height: 42px;
}


.checkout {
  margin: 0;
  color: #ffffff;
  background-color: #63a63e;
  text-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 22px;
}

.header-contacts {
  padding-top: 50px;
  margin-bottom: 24px;
  position: relative;

  display: flex;
  justify-content: space-between;
}


.name-page {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
  margin: 0;
  font-weight: normal;
  letter-spacing: normal;
  font-stretch: normal;

  width: 197px;
  margin-left: 53px;
}

.phone {
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
	border: 2px solid white;
  background-color: #f1f5f7;
  background-image: url("../img/icon-phone.svg");
  background-position: 11px 6px;
  background-repeat: no-repeat;
  text-align: center;

  display: block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 15px;
}

.phone-address {
  width: 270px;
  margin-left: 21px;
  margin-top: 0;
}


.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

  display: block;
  text-align: center;
  margin-top: 7px;
  margin-right: 4px;
}

.header-user {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.auth-btn {
  color: #000000;
  padding-left: 25px;
  padding-right: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
  display: flex;
}

.auth-btn:hover {
  color: #ee3643;
}

.auth-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user li {
  margin-left: 10px;
}

.auth-icon-btn {
  padding-left: 15px;
}

.auth-icon-btn svg {
  fill: #c5c5c5;
  margin-right: 14px;
}

.auth-icon-btn:hover svg {
  fill: #32425c;
}

.auth-icon-btn:active svg {
  fill: #c5c5c5;
}

.site-navigation {
  padding: 0;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	list-style: none;
	box-shadow: inset 0px -5px 0px 0px #293449;


  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.site-navigation a {
	color: #ffffff;

  display: block;
  line-height: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.site-navigation a:hover {
	background-color: #1d2739;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.products-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.materials {
  width: 300px;
  height: 123px;
  border: 1px solid #ffbf47;
  background-color: #ffbf47;

  display: block;
  margin-bottom: 22px;
}

.title-service {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.clarification {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.tool {
  width: 300px;
  height: 123px;
  border: 1px solid #3bbce3;
  background-color: #3bbce3;

  display: block;
  margin-bottom: 22px;
}

.equipments {
  width: 300px;
  height: 123px;
  border: 1px solid #dc91d8;
  background-color: #dc91d8;

  display: block;
  margin-bottom: 22px;
}

.sale {
  width: 300px;
  height: 123px;
  border: 1px solid #8ed78f;
  background-color: #8ed78f;

  display: block;
  margin-bottom: 22px;
}

.delivery-products {
  width: 300px;
  height: 123px;
  border: 1px solid #ffc047;
  background-color: #ffc047;

  display: block;
  margin-bottom: 22px;
}

.title-drills {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.info-drills {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.section-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f5f0;

}

.button-brends {
}

.popular-products,
.brends {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.button-popular-products,
.button-brends {
  width: 253px;
  height: 38px;
}

.popular-brends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-popular-brends a {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title-popular-brends {
  margin-bottom: 20px;
}

.title-popular-brends a:active {
  opacity: 0.3;
}

.title-popular-brends:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.title-popular-brends:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.service-headline {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
 .services {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
 }

 .service-item a {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
 }

 .service-item a .delivery {
  color: #32425c;
  background-color: #ffffff;
 }

.delivery-cargo {
  background-image: url("../img/delivery-cargo.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
}

 .index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  width: 940px;
}

.company-main {
  width: 519px;
  margin-right: 120px;
}

.company-info {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.list {
  margin: 0;
  padding: 0;
}

.list li {
  font-size: 18px;
  line-height: 20px;
  position: relative;
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
}

.list li::before {
  content: "";
  width: 25px;
  position: absolute;
  display: block;
  border-bottom: 2px solid #ee3643;
  top: 8px;
  left: 1px;
}

.company-main ul {
  margin-bottom: 37px;
}

.button-company-main {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 41px;
  padding-right: 40px;
}

.button-contacts {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 63px;
  padding-right: 59px;
}

.contacts-main img {
  margin-bottom: 40px;
  display: block;
}

.contacts-main {
  width: 300px;
}

.infomation {
  background-color: #f4f7f9;
  padding-top: 67px;
  padding-bottom: 73px;
}

.main-footer {
  margin-top: 86px;
  min-height: 300px;
}

.main-footer-container {
  width: 100%;
}


.main-footer-logo {
	border: 0px solid #ee3643;
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

  width: 220px;
  height: 68px;
  display: flex;
  justify-content: center;
}

.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}

.main-footer-logo:focus {
  background-color: #ee3643;
}

.list {
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.footer-items {
}

.footer-items a {
	font-size: 18px;
	line-height: 24px;
	list-style: none;
  color: #f1f5f7;
}

.footer-address {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-items a:hover {
  text-decoration: underline;
}

.footer-products a:hover {
	text-decoration: underline;
}

.footer-items a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-products a:active {
	color: rgba(255, 209, 128, 0.5);
}

.footer-products {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
	list-style: none;
}

.most-main-footer .container {
  display: flex;
}

.logo-address {
  width: 380px;
}

.most-main-footer {
	background-color: #32425c;
  margin: 0;
}

.buttom-footer .container {
	font-size: 16px;
	line-height: 18px;
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.protection {
  color: #ffffff;

  width: 310px;
}

.social-button {
	color: #ffffff;
	background-color: #212a3a;

}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.feedback,
.developed-by {
  font-size: 16px;
	line-height: 18px;
  color: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.feedback a,
.developed-by a {
	color: #ffd180;
}

.feedback a:hover,
.developed-by a:hover {
	text-decoration: underline;
}

.feedback a:active,
.developed-by a:active {
	color: #e13643;
}

.buttom-footer {
	background-color: #293449;

  display: flex;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

.vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #212a3a;
  border-radius: 50%;
}

.fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #212a3a;
  border-radius: 50%;
}

.insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}


.social-network {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: auto;
  padding: 0 auto;
  list-style: none;
}

.footer-items a,
.footer-products a {
	color: #ffffff;
}

.footer-items {
 list-style: none;

 display: flex;
 width: 550px;
 justify-content: space-between;
}

.footer-products {
  display: flex;
  width: 550px;
  justify-content: space-around;
}

.basket-full {
  margin: 0;
	background-color: #ee3643;
	color: #ffffff;
}

.basket-full:hover {
  background-color: #ca2c37;
}

.basket-full:active {
  background-color: #ba2732;
}

.basket-full:focus {
  background-color: #ee3643;
}

.user {
  margin: 0;
  padding: 0;
  width: 299px;
	font-size: 21px;
	line-height: 21px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.name {
  color: #000000;

  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 13px;
  padding-right: 10px;
  display: flex;
}

.name svg {
  fill: #32425c;
  opacity: 0.3;
  margin-right: 14px;
}

.name:hover svg {
  fill: #32425c;
  opacity: 1;
}

.name:active svg {
  fill: #32425c;
}

.out {
  display: flex;
  align-items: center;
  width: 30px;
  height: 42px;
  padding-left: 10px;
}

.out svg {
  fill: #32425c;
  opacity: 0.3;
}

.out:hover svg {
  fill: #32425c;
  opacity: 1;
}

.out:active svg {
  fill: #32425c;
}

.user a:hover  {
	color: #000000;
}

.user a:active  {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	text-decoration: underline;
  display: flex;
  justify-content: space-between;
  margin: 0;

  width: 210px;
  height: 14px;
  position: relative;
}

.order::after {
  content: "";
  width: 4px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 130px;
  background-image: url("../img/point.svg");
  background-repeat: no-repeat;
}


.user-navigation a {
  color: #32425c;
}

.user-navigation a:hover {
	color: #ee3643;
}


.user-navigation a:active {
	color: rgba(50, 66, 92, 0.3);
}

.container ul {
	list-style: none;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  min-height: 35px;

  display: flex;
  position: relative;
  width: 380px;
  height: 60px;
}

.breadcrumbs-catalog::after {
  content: "";
  width: 14px;
  height: 12px;
  position: absolute;
  top: 20px;
  right: 0px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.breadcrumbs a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;

}

.breadcrumbs-current {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.page-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
  margin: 0;
  padding: 0;
  min-height: 90px;

  display: flex;
  align-items: center;
  padding-left: 30px;
}

.text-page-title {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.filters {
  width: 220px;
  min-height: 1250px;
}

.filter fieldset {
  border: none;
}

.filter legend {
	font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-input + label {
  color: #000000;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  color: #000000;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sorting-item {
  list-style: none;
}

.producer {
  list-style: none;
}

.catalog {
  width: 720px;
  min-height: 1000px;
}

.catalog-columns {
  display: flex;
  flex-direction: row;
  width: 940px;
  justify-content: space-between;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
	border: 1px solid #e5e5e5;

  width: 220px;
  min-height: 320px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  text-align: center;

}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-price {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px auto;
  margin-bottom: 50px;


  list-style: none;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.product-name {
  width: 170px;
  text-align: center;
}

.product-name a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;

  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;

  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.current-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.button-purchase {
	font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #63a63e;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px 0px #367315;
  }

.button-purchase,
.bookmarks {
  display: block;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 3px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.button-purchase:hover {
  background-color: #5fbb2d;
}

.button-purchase:active {
  background-color: #518534;
}

.bookmarks {
	font-size: 14px;
  line-height: 18px;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  color: #32425c;
  border-bottom-color: #63a63e;
}

.bookmarks:hover {
	border: 3px solid #32425c;
}

.bookmarks:active {
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid #32425c;
}

.purchase-bookmarks {
  display: none;
}

.purchase-bookmarks:hover {
  display: block;
}

.catalog-item .flag {
	position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item-image {
  width: 218px;
  height: 170px;
}

.catalog-item-image img {
  max-width: 100%;
}

.purchase-bookmarks {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}


.modal-map {
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);

  position: relative;
  width: 940px;
  height: 446px;
}

.modal-close-map {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: right top;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background-color: transparent;
}


.modal-connection {
  font-size: 18px;
  line-height: 18px;
  position: relative;
  width: 620px;
  min-height: 430px;
  z-index: 6;

  border-top: 9px solid #ff5357;
}

.field {
  display: block;
  background-color: transparent;
  border: 2px solid #dee3e4;
  width: 100%;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;

}

.field-wrap label {
  display: block;
  margin-bottom: 13px;
}

.field-wrap {
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

.button-background {
  background-color: #f4f4f4;
  padding: 37px 80px;

  margin: 0;
}

.field-wrap input:hover,
.field-wrap textarea:hover {
  border-color: #b5b5b5;
}

.field-wrap input:focus,
.field-wrap textarea:focus {
  border-color: #ee3643;
}

.connection-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font: inherit;
  color: #000000;

  padding-top: 38px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.field-wrap.half-width {
  width: 220px;
}

.button-user {
  background-color: #f4f4f4;

}

.button-form {
  width: 460px;
  height: 38px;
}

.modal-close-connection {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: right top;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 11px;
  right: 17px;
  border: 0;
  background-color: transparent;
}

.modal-basket {
  position: relative;
  width: 620px;
  min-height: 282px;
  border-top: 9px solid #ff5357;
}

.modal-close-basket {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 20px;
  border: 0;
  background-color: transparent;
}

.mark {
  width: 316px;
  height: 27px;
  padding-top: 68px;
  padding-left: 179px;
  padding-bottom: 68px;
}

.mark::before {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  top: 80px;
  left: 55px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkout-now {
  width: 99px;
  padding-left: 59px;
  padding-right: 62px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
  border-radius: 2px;
}

.continue {
  background-color: #ffffff;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 44px;
  padding-right: 48px;
}

.control-panel {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;

  align-items: flex-start;

  padding: 37px 80px;
}


.pagination-list {
  display: flex;
}

.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal .mark {
  font-size: 30px;
  line-height: 30px;
}


