body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

a {
	text-decoration: none;
}

.main-header {
  margin-bottom: 60px;
  background-color: #f4f7f9;
}

.main-header-logo {
	border: 0px solid #ee3643;
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

  width: 220px;
  height: 47px;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.main-header-logo:focus {
  background-color: #ee3643;
}

.container {
  width: 940px;
  margin: 0 auto;
}



.bookmarks-active,
.basket,
.checkout {
	color: #ffffff;
}

.basket {
  width: 140px;
}

.checkout {
  width: 160px;
}

.bookmarks-active {
  width: 150px;
}

.form-search input {
	font: inherit;
  background-color: #293449;
  border: 0;
  outline: 0;

  width: 230px;
}

.icon-search:hover {
  background-color: #212a3a;
  border: 0;
  outline: 0;
}

.icon-search:focus {
	background-color: #ffffff;
  border: 0;
  outline: 0;
}

.bookmarks-active:hover,
.basket:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.bookmarks-active:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmarks-active:focus,
.basket:focus {
  color: #ffffff;
  background-color: #293449;
}

.checkout:hover {
	color: #ffffff;
  background-color: #5fbb2d;
}

.checkout:active {
	color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.checkout:focus {
	color: #cbe1bf;
  background-color: #63a63e;
}

.main-header-container {
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	color: #ffffff;

  width: 100%;

}

.container-logo {
  display: flex;
}

.container-logo a {
  display: block;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.checkout {
  color: #ffffff;
  background-color: #63a63e;
}

.header-contacts {
  padding-top: 50px;
  padding-bottom: 40px;

  display: flex;
}


.name-page {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;

  width: 260px;
}

.phone {
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
	border: 2px solid white;

  width: 300px;
  display: block;
}


.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

  width: 300px;
  display: block;
}

.header-user {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
}

.entrance {
  width: 140px;
}

.check-in {
  width: 160px;
}

.header-user a {
	color: #000000;
	background-color: #ffffff;
}

.header-user a:hover {
	color: #ee3643;
	background-color: #ffffff;
}

.header-user a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
}

.site-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	list-style: none;
	box-shadow: inset 0px -5px 0px 0px #293449;


  justify-content: space-between;
  min-height: 60px;
  display: flex;
}

.site-navigation a {
	color: #ffffff;

  display: block;
  line-height: 60px;
  padding-left: 20px
  padding-right: 25px;
}

.site-navigation a:hover {
	background-color: #1d2739;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

 .index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  width: 940px;
}

.company-main {
  width: 550px;
  min-height: 420px;
}

.contacts-main {
  width: 390px;
  min-height: 420px;
}

.main-footer {
  margin-top: 80px;
  min-height: 300px;
}

.main-footer-container {
  width: 100%;
}

.main-footer-logo {
	border: 0px solid #ee3643;
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

  width: 220px;
  height: 68px;
}

.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}

.main-footer-logo:focus {
  background-color: #ee3643;
}

.list {
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.footer-items {
}

.footer-items a {
	font-size: 18px;
	line-height: 24px;
	list-style: none;
  color: #f1f5f7;
}

.footer-address {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-items a:hover {
  text-decoration: underline;
}

.footer-products a:hover {
	text-decoration: underline;
}

.footer-items a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-products a:active {
	color: rgba(255, 209, 128, 0.5);
}

.footer-products {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
	list-style: none;
}

.most-main-footer .container {
  display: flex;
}

.logo-address {
  width: 380px;
}

.most-main-footer {
	background-color: #32425c;
  margin: 0;
}

.buttom-footer .container {
	font-size: 16px;
	line-height: 18px;
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.protection {
  color: #ffffff;

  width: 310px;
}

.social-button {
	color: #ffffff;
	background-color: #212a3a;

}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.feedback,
.developed-by {
  font-size: 16px;
	line-height: 18px;
  color: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.feedback a,
.developed-by a {
	color: #ffd180;
}

.feedback a:hover,
.developed-by a:hover {
	text-decoration: underline;
}

.feedback a:active,
.developed-by a:active {
	color: #e13643;
}

.buttom-footer {
	background-color: #293449;

  display: flex;
}

.social-button {
}

.social-network {
  list-style: none;
}

.footer-items a,
.footer-products a {
	color: #ffffff;
}

.footer-items {
 list-style: none;

 display: flex;
 width: 550px;
 justify-content: space-between;
}

.footer-products {
  display: flex;
  width: 550px;
  justify-content: space-around;
}

.basket-full {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	color: #ffffff;
}

.basket-full:hover {
  background-color: #ca2c37;
}

.basket-full:active {
  background-color: #ba2732;
}

.basket-full:focus {
  background-color: #ee3643;
}

.user {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	border: 1px solid #ffffff;
	background-color: #ffffff
}

.user a:hover {
	color: #000000;
}

.user a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	text-decoration: underline;
}

.user-navigation a {
  color: #32425c;
}

.user-navigation a:hover {
	color: #ee3643;
}


.user-navigation a:active {
	color: rgba(50, 66, 92, 0.3);
}

.container ul {
	list-style: none;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  min-height: 35px;
}

.breadcrumbs a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.breadcrumbs-current {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.page-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  min-height: 90px;
}

.filters {
  width: 220px;
  min-height: 1250px;
}

.filter fieldset {
  border: none;
}

.filter legend {
	font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-input + label {
  color: #000000;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  color: #000000;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sorting-item {
  list-style: none;
}

.producer {
  list-style: none;
}

.catalog {
  width: 720px;
  min-height: 1000px;
}

.catalog-columns {
  display: flex;
  flex-direction: row;
  width: 940px;
  justify-content: space-between;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
	border: 1px solid #e5e5e5;

  width: 220px;
  min-height: 320px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  text-align: center;

}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px auto;
  margin-bottom: 50px;


  list-style: none;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.product-name a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.button-purchase {
	font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border: 1px solid #63a63e;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px 0px #367315;
}

.button-purchase:hover {
  background-color: #5fbb2d;
}

.button-purchase:active {
  background-color: #518534;
}

.bookmarks {
	font-size: 14px;
  line-height: 18px;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  color: #32425c;
}

.bookmarks:hover {
	border: 3px solid #32425c;
}

.bookmarks:active {
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid #32425c;
}

.catalog-item .flag {
	position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item-image {
  width: 218px;
  height: 170px;
}

.catalog-item-image img {
  max-width: 100%;
}
