body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header-logo {
	border: 0px solid #ee3643;
	background-color: #ee3643;
}

.main-header-logo a:hover {
  background-color: #ca2c37;
}

.main-header-logo a:active {
  background-color: #ba2732;
}

.main-header-logo a:focus {
  background-color: #ee3643;
}

.bookmarks-active,
.basket,
.checkout {
	color: #ffffff;
}

.form-search input {
	font: inherit;

  background-color: #293449;
}

.form-search a:hover {
  background-color: #212a3a;
}

.form-search a:focus {
	background-color: #ffffff;
}

.bookmarks-active a:hover,
.basket a:hover {
  color: #3f4654;
  background-color: #212a3a;
}

.bookmarks-active a:active,
.basket a:active {
  color: #a2a5a9;
  background-color: #161d29;
}

.bookmarks-active a:focus,
.basket a:focus {
  color: #a2a5a9;
  background-color: #161d29;
}

.checkout a:hover {
	color: #f4faf1;
  background-color: #5fbb2d;
}

.checkout a:active {
	color: #a2be93;
  background-color: #518534;
}

.checkout a:focus {
	color: #cbe1bf;
  background-color: #63a63e;
}

.main-header-container {
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	color: #ffffff;
}

.checkout {
  background-color: #63a63e;
}

.name-page {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 2px solid white;
	background-color: #f4f7f9;
}

.phone a {
	color: #ee3643;
}

.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.header-contacts {
	background-color: #f4f7f9;
}

.header-user {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
}

.header-user a {
	color: #000000;
	background-color: #ffffff;
}

.header-user a:hover {
	color: #ee3643;
	background-color: #ffffff;
}

.header-user a:active {
	color: #e0e0e0;
	background-color: #ffffff;
}

.site-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	list-style: none;
}

.site-navigation a {
	color: #ffffff;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: 8e939c;
}

.main-footer-logo {
	border: 0px solid #ee3643;
	background-color: #ee3643;
}

h2 {
  font-size: 30px;
	line-height: 30px;
	color: #000000;
}

p {
	 font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.footer-items {
	font-size: 18px;
	line-height: 24px;
	list-style: none;
}

.footer-address {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-items a:hover {
  text-decoration: underline;
}

.footer-products a:hover {
	text-decoration: underline;
}

.footer-items a:active {
  color: #45546c;
}

.footer-products a:active {
	color: #998a6e;
}

.footer-products {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
	list-style: none;
}

.most-main-footer {
	background-color: #32425c;
}

.buttom-footer {
	font-size: 16px;
	line-height: 18px;
}

.social-button {
	color: #ffffff;
	background-color: #212a3a;
}

.social-button a:hover,
.social-button a:active {
  background-color: #ee3643;
}

.feedback,
.developed-by {
  font-size: 16px;
	line-height: 18px;
}

.feedback a,
.developed-by a {
	color: #ffd180;
}

.feedback a:hover,
.developed-by a:hover {
	text-decoration: underline;
}

.feedback a:active,
.developed-by a:active {
	color: #e13643;
}

.buttom-footer {
	background-color: 293449#;
}

.social-button {
  text-align: center;
}

.social-button ul {
  list-style: none;
}

.footer-items a,
.footer-products a {
	color: #ffffff;
}



.page-title {
	font-size: 30px;
	line-height: 30px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #c7c7c7;

  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
}

.catalog-item a {
  color: #262626;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.old-price {
	color: #999999;
	font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
}

.current-price {
	color: #ffffff;
	font-size: 17px;
  line-height: 18px;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.button-purchase {
	color: #c1dbb2;
	font-size: 14px;
  line-height: 18px;
  border: 1px solid #63a63e;
  background-color: #63a63e;
}

.bookmarks {
	color: d2d5d9;
	font-size: 14px;
  line-height: 18px;
  border: 1px solid #63a63e;
  background-color: #ffffff;
}